{% extends 'base.html.twig' %}

{% block title %}Apuesta index{% endblock %}

{% block body %}
    <h1>Apuesta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>numero de la papeleta</th>
                <th>nombre del sorteo</th>
            </tr>
        </thead>
        <tbody>
        {% for apuestum in apuestas %}
            <tr>
                <td>{{ apuestum.ticket.number }}</td>
                 <td>{{ apuestum.sorteo.nombre }}</td>
                <td>
                    <a href="{{ path('app_apuesta_show', {'id': apuestum.id}) }}">acceder a la compra</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_apuesta_new') }}">Create new</a>
{% endif %}
{% endblock %}
