{% extends 'base.html.twig' %}

{% block title %}Apuesta{% endblock %}

{% block body %}

    <h1>Apuesta</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ apuestum.ticket.number }}</td>
                <td>{{ apuestum.sorteo.nombre }}</td>
                
            </tr>
           
        </tbody>
    </table>
 {% if not apuestum.usuario %}
        <a href="{{ path('app_apuesta_comprar', {'id': apuestum.id}) }}">comprar</a>
    {% endif %}
  <a href="{{ path('app_main') }}">home</a>
{% endblock %}
