{% extends 'base.html.twig' %}

{% block title %}A単adir dinero{% endblock %}

{% block body %}
    <h1>A単adir dinero</h1>

    <form action="/user/add" method="POST">
        <label>A単ade dinero</label>
        <input type="number" />
        <input type="submit" value="A単adir dinero" name="cantidad_a_anadir" id="cantidad_a_anadir" />
    </form>
{% endblock %}
